<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudoku Incrível</title>

  <link rel="stylesheet" href="Estilo_Sudoku_4.css">
  <script src="Funcionalidade_Sudoku_4.js"></script>
</head>

<body>
  <button onclick="window.location.href='/sudoku6'">Sudoku 6x6</button>
  <button onclick="window.location.href='/sudoku'">Sudoku 9x9</button>
  <hr>
    <h2>Sudoku 4x4</h2>
    <hr>
    <h1 >Erros</h1>
    <h2 id="erros">0</h2>

    <div id="tabuleiro"></div>
    <br>
    <div id="digitos"></div>

</body>
</html>